/* game page part*/

#gamePageDiv div {
  border-radius: 20px;
}

#gamePageDiv {
  margin: 30px 100px;
}

#gameDiv {
  margin: 10px;
  height: 400px;
}

#gameInformation {
  display: flex;
  justify-content: space-between;
}

.divBorderWhite {
  margin: 10px;
  border: 2px solid white;
}

.divBorderWhite p {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divBorder {
  margin: 10px;
  border: 2px solid black;
}

.divBorder p {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animationDiv {
  background-color: rgb(34, 34, 34);
  height: auto;
  width: 25%;
}

#animationDiv p {
  color: aliceblue;
  font-size: large;
}

#start {
  display: flex;
  justify-self: center;
  margin: auto;
}

#start p {
  font-size: x-large;
  margin: 5px;
}
