/*all pages*/
body{
  background-color: whitesmoke;
}

main div{
  z-index: 1;
}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 9;
}

.navbar-custom{  
  background-color: orangered;
}


.animation{
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  z-index: 1;
}

/* game page part*/

#gamePageDiv div {
  border-radius: 20px;
}

#gamePageDiv {
  margin: 30px 100px;
}

#gameDiv {
  margin: 10px;
  height: 400px;
  
}

#gameInformation {
  display: flex;
  justify-content: space-between;
}

.divBorderWhite {
  margin: 10px;
  border: 2px solid white;
}

.divBorderWhite p {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divBorder {
  margin: 10px;
  border: 2px solid black;
}

.divBorder p {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animationDiv {
  background-color: rgb(34, 34, 34);
  height: auto;
  width: 25%;
}

#animationDiv p {
  color: aliceblue;
  font-size: large;
}

#buttonDiv button {
  margin: 5px;
}
#startButton p {
  font-size: large;
  margin: 5px;
}

#persoButton p {
  font-size: large;
  margin: 5px;
}
/******HomePage part***********/

#divHome{
  margin: auto;
  margin-top: 10%;
  display: flex;
  width: 50%;

}

#divHome2{
  margin: auto;
  display: flex;
  width: 50%;
  
}

#divHome3 {
  margin: auto;
  display: flex;
  width: 50%;
}

#divHomeConnected{
  margin-left: auto;
  display: flex;
  width: 50%;
}

#buttonGame{
  font-size: x-large;
  width: 100%;
  height: 100px;

}

#buttonTutorial{
  font-size: x-large;
  width: 100%;
  height: 50px;
}

#divScoreTable{
  float: left;
  display: flex;
  width: 40%;
}

#divAll{
  border: 2px solid white;
}

/*****End HomePage part********/


.btnClassed {
  width: 100%;
  height: 100%;
}
.buttonClass {
  margin: 5px;
  background: transparent;
  border-radius: 10px;
  border: 3px solid black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 800px;
  font-size: 20px;
  box-shadow: 0 0 0 black;
  transition: ease-in .5s;
  color:orangered

  /*color: orangered;
  background-color: black;*/
}

.buttonClass:hover{
  border-color:orangered ;
  background-color: orangered;
  color: #00539CFF;
}


#buttonDiv {
  display: flex;
  justify-content: center;
}

#divPerso {
  display: flex;
  justify-content: center;
}

#divEndGameDisplay{
  display: table;
  margin: auto;
  height: 200%;
}

#divEndGameDisplay div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divTutorial{
  display: flex;
  width: 60%;
  margin-left: 5%;
  margin-top: 4%;
  background-color: rgb(130, 196, 253);
  border-radius: 5%;
  border: solid;
  border-color: rgb(6, 135, 248);
}



/* search PAGE */
#searchDiv{
  width: 30%;
  margin: auto;
  padding: 15px;
}

#searchInput{
  border: solid orangered;
}
#searchSubmit{
  display: block;
  margin: auto;
}






***********Test*****************

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000;
  font-size: 1.25rem;
  line-height: 1.8;
  text-align: center;
}
.bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.el {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}